@model  TechAcadStudentsMVC.Models.Instructor

@{ 
    ViewBag.Title = "Instructor";
}

<h2>Instructor</h2>

<h5>
    Details for Instructor with Id: @ViewBag.Id
</h5>

<p>
    Further details about the Instructor:
</p>
<ul>
    <li>
        Another Id: @Model.ID
    </li>
    <li>
        First Name: @Model.FirstName
    </li>
    <li>
        Last Name: @Model.LastName
    </li>
</ul>