@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{ var myMessage = "Hello World"; }
    <tr>
        <td>Server Time</td>
        <td>@DateTime.Now</td>
    </tr>
    <h1>The value of myMessage is: @myMessage</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello ASP.NET Core!</p>
</div>